@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
*, html > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; }
  *::-webkit-scrollbar, html > *::-webkit-scrollbar {
    display: none; }

html {
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
  background: #000;
  color: #cccccc;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alex Brush', cursive; }

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  height: 100vh;
  width: 100vw; }

[data-scroll] {
  transition: all .05s ease-in-out; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#home .logo-home {
  opacity: var(--visible-y);
  transform: scale(calc(0.5 + calc(var(--visible-y) * 0.5))); }
  #home .logo-home img {
    display: inline-block;
    width: auto;
    height: 50vh;
    animation: fadein 3.5s ease-in-out; }
  #home .logo-home small {
    float: left;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0; }

#home .welcome-msg {
  margin: 5vh 0 7.5vh;
  text-align: center;
  font-size: 1.5em;
  color: #666666;
  transform: translateY(calc(60% * var(--viewport-y)));
  animation: fadein 2.5s ease-in-out; }
  #home .welcome-msg span {
    display: block;
    font-size: 2em;
    color: #cccccc; }

#home .scroll-indicator {
  width: 5vh;
  opacity: calc(1 - var(--viewport-y));
  transform: translateY(calc(60% * var(--viewport-y))); }

#about-me {
  background-image: url("./assets/about-bg.jpg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: var(--visible-y); }
  #about-me .content {
    display: inline-block;
    vertical-align: top;
    background: white;
    height: auto;
    width: 40vw;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-left: 50vw;
    padding: 5vh 3vw;
    color: black;
    transform: translateY(calc(-100% * var(--viewport-y))); }
    #about-me .content h2 {
      font-size: 2em;
      margin: 2vh 0; }
    #about-me .content p {
      font-size: .85em;
      margin-bottom: 1.5vh; }
    #about-me .content img {
      float: right;
      max-width: 200px; }

@media only screen and (max-width: 768px) {
  #about-me .content {
    display: inline-block;
    vertical-align: top;
    background: white;
    height: auto;
    width: 80vw;
    margin-top: 120vh;
    margin-left: 0vw; } }

#portfolio {
  display: inline-block;
  vertical-align: top;
  position: relative; }
  #portfolio .section-title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    font-size: 2em;
    text-align: center; }
  #portfolio .gallery-state {
    visibility: hidden;
    opacity: 0; }
    #portfolio .gallery-state#state-realism:checked ~ .gallery#realism {
      top: 20vh;
      left: 0;
      width: 100vw;
      height: 80vh;
      z-index: 1; }
    #portfolio .gallery-state#state-lettering:checked ~ .gallery#lettering {
      top: 20vh;
      left: 0;
      width: 100vw;
      height: 80vh;
      z-index: 1; }
    #portfolio .gallery-state#state-menu:checked ~ .gallery .close-gallery {
      opacity: 0;
      visibility: hidden; }
  #portfolio .gallery {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 50vw;
    height: 80vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    background: red; }
    #portfolio .gallery#lettering {
      left: 50vw;
      background: blue; }
    #portfolio .gallery .close-gallery {
      position: absolute;
      top: 0;
      left: 0;
      width: 10vh;
      height: 10vh;
      line-height: 10vh;
      text-align: center;
      font-size: 4em;
      transition: all .2s ease-in-out; }

@media only screen and (max-width: 768px) {
  #portfolio .gallery-state#state-realism:checked ~ .gallery#realism {
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 1; }
  #portfolio .gallery-state#state-lettering:checked ~ .gallery#lettering {
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 1; }
  #portfolio .gallery-state#state-menu:checked ~ .gallery#realism {
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 40vh; }
  #portfolio .gallery-state#state-menu:checked ~ .gallery#lettering {
    top: 60vh;
    left: 0;
    width: 100vw;
    height: 40vh; }
  #portfolio .gallery {
    top: 20vh;
    width: 100vw;
    height: 40vh; }
    #portfolio .gallery#lettering {
      left: 0;
      top: 60vh; } }
