@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bounce {
  50% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0); } }

.step {
  background: #222; }

*, html > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; }
  *::-webkit-scrollbar, html > *::-webkit-scrollbar {
    display: none; }

[data-scroll] {
  transition: all .05s ease-in-out; }

html {
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
  background: #000;
  color: #cccccc;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alex Brush', cursive; }

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  height: 100vh;
  width: 100vw; }

#home .logo-home {
  opacity: var(--visible-y); }
  #home .logo-home img {
    display: inline-block;
    width: auto;
    height: 50vh;
    animation: fadein 3.5s ease-in-out; }
  #home .logo-home small {
    float: left;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0; }

#home .welcome-msg {
  margin: 5vh 0 7.5vh;
  text-align: center;
  font-size: 1.5em;
  color: #666666;
  transform: translateY(calc(60% * var(--viewport-y)));
  animation: fadein 2.5s ease-in-out; }
  #home .welcome-msg span {
    display: block;
    font-size: 2em;
    color: #cccccc; }

#home .scroll-indicator {
  width: 5vh;
  opacity: var(--visible-y);
  transform: translateY(calc(60% * var(--viewport-y)));
  animation: bounce 1s ease infinite; }

#about-me {
  background-image: url("./assets/about-bg.jpg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: var(--visible-y); }
  #about-me .content {
    display: inline-block;
    vertical-align: top;
    background: white;
    height: auto;
    width: 40vw;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-left: 50vw;
    padding: 5vh 3vw;
    color: black;
    transform: translateY(calc(-100% * var(--viewport-y))); }
    #about-me .content h3 {
      font-size: 2em;
      margin: 2vh 0; }
    #about-me .content p {
      font-size: .85em;
      margin-bottom: 1.5vh; }
    #about-me .content img {
      float: right;
      max-width: 200px; }

@media only screen and (max-width: 768px) {
  #about-me .content {
    display: inline-block;
    vertical-align: top;
    background: white;
    height: auto;
    width: 80vw;
    margin-top: 120vh;
    margin-left: 0vw; } }
