#portfolio {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    opacity: var(--visible-y);
    transition: opacity .3 ease-in-out;
    background: white;
    color: black;

    position: relative;

    .section-title {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 20vh;
        line-height: 20vh;
        font-size: 2em;
        text-align: center;
        align-content: space-around;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        height: 80vh;
        overflow-x: auto;
        align-content: flex-start;
        padding: 2vh 10vh 0 30vw;

        .thumbnail {
            width: 20vh;
            height: 20vh;
            background-image: var(--thumbnail);
            background-position: center;
            background-size: cover;
            margin: 2vh;
            cursor: pointer;
            transition: all .2s ease-in-out;
            box-shadow: 0px 10px 30px -10px #222;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;

            &:hover {transform: scale(1.1);}
            &:active + .img {
                opacity: 1;
                visibility: visible;
            }
        }

        .img {
            content: '';
            position: fixed;
            display: block;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            background-image: var(--img);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            
            &:active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // #modal {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: grey;
    // }
}

@media only screen and (max-width: 768px) {
    #portfolio {
        .gallery { padding-left: 15vh; }
    }
}